<template>
    <div id="main-div" class="row">
        <side-menu ></side-menu>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    #main-div{
        padding-left: 50px;
    }

    @media screen and (max-width: 720px){

        #main-div{
            padding-left: 80px;
        }
    }

</style>