<template>
    <div>
        <sidebar-menu @collapse="onCollapse" class="menu" :menu="menu" :collapsed=true />
    </div>
</template>

<script>
    export default {
        methods: {
            onCollapse: function(collapsed){
                // collapsed = false = aberto
                let actualCss = parseInt(($('#main-div').css('padding-left')).replace('/\D/g', ''));
               
                collapsed ? 
                    (actualCss == 400 ?  
                    $('#main-div').css("padding-left", (actualCss/5)+"px") : 
                    $('#main-div').css("padding-left", (actualCss/8)+"px")) :  
                    (actualCss == 80 ?  
                    $('#main-div').css("padding-left", (actualCss*5)+"px") : 
                    $('#main-div').css("padding-left", (actualCss*8)+"px"));
                    

               
            }
        },
        data: function() {
            
            return { 
                menu: [
                    {
                        href: '/',
                        title: 'Dashboard',
                        icon: 'fa fa-user'
                    },
                    {
                        href: '/admin/client',
                        title: 'Clientes',
                        icon: 'fas fa-users'
                    },
                    {
                        href: '#',
                        title: 'Charts',
                        icon: 'fa fa-chart-area'
                    },
                ],
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>

.menu{
    z-index: 9999;
}

@media screen and (max-width:720px);

</style>