<template>
    <div class="row">
        
        <form :action="url" :token="token" method="post">
            <h1>Cadastro Cliente</h1>
            <input type="hidden" name="_token" :value="token">

            <div class="form-row">
                <div class="form-group col">
                    <label for="cli_name">Nome do Cliente</label>
                    <input class="form-control" type="text" id="cli_name" name="cli_name">
                </div>
                <div class="form-group col">
                    <label for="cli_doc">Nº Documento</label>
                    <input class="form-control" type="text" id="cli_doc" name="cli_doc" v-mask="'###.###.###-##'">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="cli_end">Endereço</label>
                    <input class="form-control" type="text" name="cli_end" id="cli_end">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="cli_nasc">Data de Nascimento</label>
                    <input class="form-control" type="date" name="cli_nasc" id="cli_nasc">
                </div>
                <div class="form-group col">
                    <label for="cli_tel">Telefone de Contato</label>
                    <input class="form-control" type="text" id="cli_tel" name="cli_tel" v-mask="['(##) ####-####', '(##) #####-####']">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="cli_email">Email</label>
                    <input class="form-control" type="email" name="cli_email" id="cli_email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </div>

        </form>
    </div>
</template>

<script>
    export default {
        props: ['url', 'token'],
    }
</script>

<style scoped>

</style>