<template>
    <div class="container">
        <sidebar-menu :menu="menu" />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return { 
                menu: [
                    {
                        href: '/',
                        title: 'Dashboard',
                        icon: 'fa fa-user'
                    },
                    {
                        href: '#',
                        title: 'Charts',
                        icon: 'fa fa-chart-area'
                    },
                ],
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
