<template>
    <div class="container">
        <div class="row">
            <h2>Serviços Guto Personal</h2><a class="btn btn-success ml-2" href="#new-service">Novo Serviço</a>
            <full-calendar :events="events" :config="config"></full-calendar>
        </div>
        <div class="row mt-4">
            <h3>Formulário Cadastro</h3>
        </div>
        <div id="new-service" class="row">
            <form action="/admin/service">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="serv_date">Data</label>
                        <input class="form-control" type="date" name="serv_date" id="serv_date">
                    </div>

                    <div class="form-group col">
                        <label for="serv_houri">Hora Inicio</label>
                        <input class="form-control" type="time" name="serv_houri" id="serv_houri">
                    </div>

                    <div class="form-group col">
                        <label for="serv_houre">Hora Fim</label>
                        <input class="form-control" type="time" name="serv_houre" id="serv_houre">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="serv_eqp">Equipamento</label>
                        <select  class="form-control" name="serv_eqp" id="serv_eqp">
                            <option value="1" selected>ROLO Z323</option>
                            <option value="2">ROLO X231</option>
                        </select>
                    </div>

                </div>
            </form>
        </div>
        
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                events: [
                    {
                        title  : 'event1',
                        start  : '2019-03-15',
                    },
                    {
                        title  : 'event2',
                        start  : '2010-01-05',
                        end    : '2010-01-07',
                    },
                    {
                        title  : 'event3',
                        start  : '2010-01-09T12:30:00',
                        allDay : false,
                    },
                ],
                config: {
                    locale: 'pt-br'
                },
            }
        }
    }
</script>

<style scoped>

</style>